body{
    flex-direction: column;
}
body > div{
    display: flex;
    height: 90%;
    width: 100%;
}
header{
    width: 100%;
    background: rgb(228, 210, 219);
    height: 10%;
    box-sizing: border-box;
    display: flex;
    border: 5px solid rgb(119, 29, 75);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* border-bottom: 5px solid rgb(119, 29, 75); */
}
header ul{
    height: 100%;
    width: 50%;
    justify-self: end; 
    justify-content: start;
    align-items: center;
    list-style: none;
    display: flex;
    margin-left: auto;
    color: rgb(119, 29, 75);
}
header ul li{
    cursor: pointer;
    width: 190px;
    display: flex;
    justify-content: center;
}
header ul a{
    text-decoration: none;
    color: rgb(119, 29, 75);
}
header ul li:hover a{
    font-weight: bolder;
    color: rgb(98, 0, 57);
}
header div h3{
    font-weight: bolder;
}

section{
    width: 80%;
    height: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    /* box-shadow: 2.5px 0 0 0 inset rgb(119, 29, 75); */  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contenedor-section{
    border-right: 5px solid rgb(119, 29, 75);
    border-bottom: 5px solid rgb(119, 29, 75);
}

aside{
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    border: 5px solid rgb(119, 29, 75);
    border-top: none;
    /* box-shadow: -2.5px 0 0 0 inset rgb(119, 29, 75); */
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(228, 210, 219);
}
aside > span{
    height: 48px;
}
aside h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    background: rgb(129, 47, 89);
    color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 15px;
}
aside div{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
aside div > img{
    width: 150px;
    height: 200px;
}
aside p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 5px 20px;
    margin-bottom: 80px;
    border: 3px solid rgb(150, 77, 113);
}
#close_sesion{
    border: 3px solid rgb(150, 77, 113);
    background: rgb(129, 47, 89);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#close_sesion:hover{
    transform: scale(0.95);
}

.btn-registro{
    display: inline-block;
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgb(150, 77, 113);
    padding: 5px 15px;
    font-size: 20px;
    margin: 0 10px;
    transition: 0.3s;
    border-radius: 4%;
    outline: none;
    border: none;
    box-shadow: 0 0 1px 0 rgb(59, 2, 31) inset;
}
.btn-registro:hover{
    transform: scale(0.97);
}

.titulo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 32px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(59, 2, 31);
}
.lista-seccion{
    background: rgb(218, 166, 183);
    border-top: 1px solid rgb(119, 29, 75);
    border-bottom: 1px solid rgb(119, 29, 75);
    position: relative;
    left: -10px;
    padding: 5px 10px;
    box-sizing: border-box;
    font-weight: bold;
    width: calc(100% + 20px);
    display: flex;
}
.btn-i{
    width: 25px;
}
.table tbody tr td{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.table a:hover .btn-i{
    transform: scale(0.9);
}
.btn-regresar{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.btn-avanzar{
    cursor: pointer;
    width: 25px;
    height: 25px;
    transform: scaleX(-1);
}
.content-btn{
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-detail{
    
    width: 70%;
    margin: 15px auto;
    margin-bottom: 40px;
    text-align: center;
}
.card-detail thead th{
    background: rgb(228, 210, 219);
    color: rgb(59, 2, 31);
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 15px 0px;
    
}
.card-detail tbody td{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px 0px;

}
.card-detail tbody tr:hover{
    /* background: rgba(251, 213, 213, 0.1); */
    box-shadow: 1px 1px 5px 0px rgb(59, 2, 31,0.2) inset;
}
.card-detail tfoot td{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px 0px;
    font-size: 20px;
    font-style: italic;
    color: rgb(59, 2, 31);
    background: rgba(228, 210, 219,0.9);
}
.card-detail tbody tr{
    box-shadow: 0px 1px 0px 0 rgb(59, 2, 31,0.2);
}
.card-detail tbody tr > td:nth-child(1){
    font-weight: bold;
    font-size: 18px;
    /* text-transform:lowercase; */
    color: rgb(59, 2, 31);
    text-align: start;
    padding-left:50px;
}

.card-detail tbody tr:nth-child(even){
    background: rgb(228, 210, 219,0.2);
}
.scroll{
    overflow-y: auto;
}
.formulario{
    /* background: red; */
    display: flex;
    flex-direction: column;
}
.group-form{
    flex: 1;
    display: flex;
}
.group-form button[type="submit"]{
    margin-left: auto;
    margin-right: 0px;
}

.component-form{
    /* flex: 1; */
    margin-bottom: 5px;
    width:calc(100%/3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.component-form input{
    width: 200px;
}
.component-form .comentario{
    width: 85%;
    margin-bottom: 20px;
}

.panel{
    width: 40%;
    margin: auto;
    /* background: red; */
}
.panel .component-form {
    width: 100%;
    padding: 15px 20px;
   
}
.panel .component-form select{
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}
.panel .component-form label{
    color: rgb(245, 245, 245);
    background: rgb(129, 47, 89);
    width: 100%;
    text-align: center;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.panel .component-form input{
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}
