{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Roles</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
</head>
<body class="bg-white w-100 vh-100 d-flex justify-content-center align-items-center">
    <header>
        <div class="w-30 px-3 h-100 d-flex justify-content-center align-items-center"> 
            <img class="me-3" style="width: 70px; height: 55px;" src="{% static 'img/logo.png' %}">
            <h3 class="fs-3">ReqWizardApp</h3>
        </div>
        <ul>
            <li><a href="{% url 'organization_list' %}">Menu Principal</a>/</li>
            <!-- <li><a href="">Mocar Company</a>/</li> -->
            <!-- <li><a href="">{{proyecto.ProNom}}</a></li> -->
        </ul>
    </header>
    <div>
        <aside>
            <span><- -></span>
            <h1>Menu Principal</h1>
            <div>
                <img src="{% static 'img/logo.png' %}" alt="">
            </div>
            <p>Nombre: pis_sgrs</p>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button id="close_sesion" type="sumit">Cerrar sesión</button>
            </form>
        </aside>
        <section class="contenedor-section">   

            <h1 class="titulo">Lista de Roles</h1>

            <div class="search-container">
                
                <a class="btn-registro mb-5 mt-4" href="{% url 'role_create' %}">Nuevo Rol</a>
                
                </br>
                <form method="GET" action="{% url 'role_list' %}">
                    <input type="text" name="q" placeholder="Buscar por nombre" value="{{ request.GET.q }}">
                    <button type="submit">Buscar</button>
                </form>
            </div>

            <table class="table my-4 text-center">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Fecha de Creación</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for role in roles %}
                    <tr>
                        <td>{{ role.RolNom }}</td>
                        <td>{{ role.RolFecCre }}</td>
                        <td>
                            <a href="{% url 'role_detail' role.pk %}">Ver</a>
                            <a href="{% url 'role_update' role.pk %}">Editar</a>
                            <a href="{% url 'role_delete' role.pk %}">Eliminar</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">No se encontraron roles.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            <div class="button-container">
                <a href="{% url 'role_en_construccion' %}">
                    <button>Excel</button>
                </a>
                <a href="{% url 'role_en_construccion' %}">
                    <button>Pdf</button>
                </a>
            </div>
        </section>
    </div>
</body>
</html>
