{% extends "base_login.html" %}
{% block title %}Cerrar sesión{% endblock %}

{% block content %}
    <div class="d-flex flex-column justify-content-center align-items-center" style="text-align: center; margin-top: 50px;">
        <h1  style="font-family: 'Arial', sans-serif; font-size: 2em; color: #333;">Haz cerrado sesión</h1>
        
        <p style="font-family: 'Arial', sans-serif; font-size: 1.2em; color: #555;">
            Iniciar sesión desde <a href="{% url 'login' %}" style="color: #007BFF; text-decoration: none;">aquí</a>
        </p>
    </div>
{% endblock %}
