{% extends "base_login.html" %}   
{% load static %}
{% block title %} Inicio de sesión {% endblock %}

{% block estilo %} <link rel="stylesheet" href="{% static 'css/login.css' %}"> {% endblock %}

{% block content %}

<section class="bg-body-secondary rounded-5" style="height: 350px; width: 400px;">
    
    <form id="login" action="{% url 'login' %}" method="post" class="d-flex flex-column align-items-center">
        <div class="mt-4 mb-3  w-100 d-flex justify-content-center align-content-center"> 
            <img class="me-3" style="width: 55px;" src="{% static 'img/logo.png' %}">
            <h3 class="fs-3 fw-normal">ReqWizardApp</h3>
        </div>
        {% csrf_token %}
        {{form.as_p}}
        <input type="hidden" name="next" value="{{ next }}">
        <button type="submit" class="w-75 text-white rounded-2 py-1 fs-5 mb-3" style="background: rgb(119, 29, 75); border: none;">Ingresar</button>
        <div class="fw-bold" style="color:rgb(119, 29, 75);">¿Has olvidado tu Contraseña?</div>
    </form>
</section>
{% if form.errors %}
        <p class="alert alert-danger alert-dismissible fade show position-absolute fixed-top">
            El nombre de usuario o contraseña incorrecta
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </p>
    
    {% else %}
        <p class="alert alert-success alert-dismissible fade show position-absolute fixed-top">
            Por favor llena el formulario para iniciar sesión
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </p>
    {% endif %}
{% endblock %}