{% extends "base.html" %}
{% load static %}

<!-- Titulo -->
{% block title %}Detalles del Autor {{ author.AutNom }}{% endblock %}

<!-- Css -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/organizaciones.css' %}">
{% endblock css %}

<!-- Menu -->
{% block menu %}
<ul>
    <li><a href="{% url 'organization_list' %}">Menu Principal</a></li>
    <span> &nbsp;/&nbsp;</span>
   
</ul>
{% endblock %}

<!-- Contenido -->
{% block contenido %}
<h1 class="titulo">Confirmar Eliminación</h1>
    <p class="lista-seccion">¿Quieres eliminar Autor "{{ author.AutNom }}"?</p>
    <form method="post" class="d-flex justify-content-center">
        {% csrf_token %}
        <button class="btn-registro" type="submit">Eliminar</button>
    </form>
    <a class="btn-registro" href="{% url 'author_list' %}">Cancel</a>
{% endblock %}
