{% extends "base.html" %}
{% load static %}

<!-- Titulo -->
{% block title %}Autores del Proyecto {% endblock %}

<!-- Css -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/organizaciones.css' %}">
{% endblock css %}

<!-- Menu -->
{% block menu %}
<ul>
    <li><a href="{% url 'organization_list' %}">Menu Principal</a></li>
    <span> &nbsp;/&nbsp;</span>
   
</ul>
{% endblock %}

<!-- Contenido -->
{% block contenido %}
<h1 class="titulo">Autores</h1>
<p class="lista-seccion">Lista de Autores</p>
<a class="btn-registro" href="{% url 'author_create' %}">Nuevo Autor</a>

<table class="table my-4 text-center table">
    <thead class="table-light">
        <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Version</th>
            <th scope="col">Fecha Ingreso</th>
            <th scope="col">Alias</th>
            <th scope="col">Com</th>
            <th scope="col">Apellido Materno</th>
            <th scope="col">Apellido Paterno</th>
            <th scope="col">Nombre</th>
            <th scope="col">Con</th>
            <th scope="col">Telefono</th>
            <th scope="col">DNI</th>
            <th scope="col">OrgCod_id</th>
            <th scope="col">EstCod_id</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for author in authors %}
            <tr>
                <td>{{ author.AutCod }}</td>
                <td>{{ author.AutVer }}</td>
                <td>{{ author.AutFecIng }}</td>
                <td>{{ author.AutAli }}</td>
                <td>{{ author.AutCom }}</td>
                <td>{{ author.AutApeMat }}</td>
                <td>{{ author.AutApePat }}</td>
                <td>{{ author.AutNom }}</td>
                <td>{{ author.AutCon }}</td>
                <td>{{ author.AutTel }}</td>
                <td>{{ author.AutDNI }}</td>
                <td>{{ author.AutOrgCod_id }}</td>
                <td>{{ author.AutEstCod_id }}</td>
                <td>
                    <a href="{% url 'author_detail' author.pk %}" data-bs-toggle="tooltip" title="Ver" ><img class="btn-i" src="{%static 'img/btn1.png'%}"></a>
                    <a href="{% url 'author_update' author.pk %}" data-bs-toggle="tooltip" title="Editar" ><img class="btn-i" src="{%static 'img/btn2.png'%}"></a>         
                    <a href="{% url 'author_delete' author.pk %}" data-bs-toggle="tooltip" title="Eliminar" ><img class="btn-i" src="{%static 'img/btn3.png'%}"></a>
                    
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

