{% extends "base.html" %}
{% load static %}

<!-- Titulo -->
{% block title %}Detalles del Autor {{ author.AutNom }}{% endblock %}

<!-- Css -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/organizaciones.css' %}">
{% endblock css %}

<!-- Menu -->
{% block menu %}
<ul>
    <li><a href="{% url 'organization_list' %}">Menu Principal</a></li>
    <span> &nbsp;/&nbsp;</span>
   
</ul>
{% endblock %}

<!-- Contenido -->
{% block contenido %}
<h1 class="titulo">Detalles de Autor</h1>

<p>{{ author.AutNom }}</p>
<p>Codigo: {{ author.AutCod }}</p>
<p>Version: {{ author.AutVer }}</p>
<p>Fecha Ingreso: {{ author.AutFecIng }}</p>
<p>Alias: {{ author.AutAli }}</p>
<p>Com: {{ author.AutCom }}</p>
<p>Apellido Materno: {{ author.AutApeMat }}</p>
<p>Apellido Paterno: {{ author.AutApePat }}</p>
<p>Nombre: {{ author.AutNom }}</p>
<p>Con: {{ author.AutCon }}</p>
<p>Telefono: {{ author.AutTel }}</p>
<p>DNI: {{ author.AutDNI }}</p>
<p>OrgCod_id: {{ author.AutOrgCod_id }}</p>
<p>EstCod_id: {{ author.AutEstCod_id }}</p>
{% endblock %}





