{% extends "base.html" %}
{% load static %}

<!-- Titulo -->
{% block title %} Confirmar Eliminación de la Organización {{ organization.OrgNom }} {% endblock %}

<!-- Css -->
{% block css %}

{% endblock css %}

<!-- Menu -->
{% block menu %}
<ul>
    <li><a href="{% url 'organization_list' %}">Menu Principal</a></li>
    <span> &nbsp;/&nbsp; </span>
    <li><a>{{organization.OrgNom}}-Eliminar</a></li>
</ul>
{% endblock %}

<!-- Contenido -->
{% block contenido %}
<h1 class="titulo">Confirmar Eliminación</h1>
<p class="lista-seccion">¿Estás seguro que deseas eliminar la Organización "{{ organization.OrgNom }}"?</p>
<form method="post" class="d-flex justify-content-center">
    {% csrf_token %}
    <button class="btn-registro mt-4" type="submit">Eliminar</button>
</form>

<a class="btn-registro my-5" href="{% url 'organization_detail' organization.OrgCod %}">Detalles</a>
<a class="btn-registro my-5" href="{% url 'organization_list' %}">Cancelar</a>
{% endblock %}