{% extends "base.html" %}
{% load static %}

<!-- Titulo -->
{% block title %}{% if form.instance.OrgCod %}Editar Organización {% else %}Crear Nuevo Organización {% endif %}{% endblock %}

<!-- Css -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/organizaciones.css' %}">
{% endblock css %}

<!-- Menu -->
{% block menu %}
<ul>
    <li><a href="{% url 'organization_list' %}">Menu Principal</a></li>
    <span> &nbsp;/&nbsp;</span>
    <li><a>{% if form.instance.OrgCod %}{{organization.OrgNom}}-Editar {% else %}Nueva Organización {% endif %}</a></li>
</ul>
{% endblock %}

<!-- Contenido -->
{% block contenido %}

<h1 class="titulo">{% if form.instance.OrgCod %}Editar Organización {% else %}Nueva Organización {% endif %}</h1>

<form class="formulario" method="post">
    {% csrf_token %}

    {% for field in form %}

        {% if forloop.counter0 == 0 %}
            <div class="lista-seccion mb-3">Información Destacada</div>
        {% elif forloop.counter0 == 3 %}
            <div class="lista-seccion mb-3 mt-4">Información General de la Organización</div>
        {% endif %}

        {% if forloop.counter0|divisibleby:3 %}
            
            <div class="group-form">

        {% endif %}
        
        {% if not forloop.last %}
        <div class="component-form">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>

            {{ field }}
        </div>
        {% endif %}

        {% if forloop.counter|divisibleby:3 or forloop.last %}

            </div>

        {% endif %}

        {% if forloop.last %}
        <div class="lista-seccion mb-3 mt-4">Comentarios</div>
        <div class="component-form w-100">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>

            {{ field }}
        </div>
        {% endif %}
    {% endfor %}

        <div class="group-form">
            
                {% if form.instance.OrgCod %}
                
                <button class="btn-registro" type="submit">Actualizar</button>
                
                {% else %}
                <button class="btn-registro" type="submit">Crear</button>
                {% endif %}
            </button>
        </div>
</form>

<a class="btn-registro my-5" href="{% url 'organization_list' %}">Lista de Organizaciones</a>
{% if form.instance.OrgCod %}
<a class="btn-registro ms-auto" href="{% url 'organization_detail' organization.OrgCod %}">Detalles</a>
{% endif %}

{% endblock contenido %}
