{% extends "base.html" %}
{% load static %}

<!-- Titulo -->
{% block title %} Detalles de la Organización {{ organization.OrgNom }} {% endblock %}

<!-- Css -->
{% block css %}

{% endblock css %}

<!-- Menu -->
{% block menu %}
<ul>
    <li><a href="{% url 'organization_list' %}">Menu Principal</a></li>
    <span> &nbsp;/&nbsp; </span>
    <li><a>{{organization.OrgNom}}-Detalles</a></li>
   
</ul>
{% endblock %}

<!-- Contenido -->

{% block contenido %}
<h1 class="titulo">Detalles de la Organización</h1>

<table class="card-detail mb-4">
    <thead>
        <tr >
            <th colspan="2">Resumen</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Código</td>
            <td>{{ organization.OrgCod }}</td>
        </tr>
        <tr>
            <td>Versión</td>
            <td>{{ organization.OrgVer }}</td>
        </tr>
        <tr>
            <td>Nombre</td>
            <td>{{ organization.OrgNom }}</td>
        </tr>
        <tr>
            <td>Fecha de Creación</td>
            <td>{{ organization.OrgFecCre }}</td>
        </tr>
        <tr>
            <td>Fecha de Modificación</td>
            <td>{{ organization.OrgFecMod }}</td>
        </tr>
        <tr>
            <td>Codigo de Autor</td>
            <td>{{ organization.OrgAutCod }}</td>
        </tr>
        <tr>
            <td>Estado</td>
            <td>Terminado</td>
        </tr>
        <tr>
            <td>Comentario</td>
            <td>{{ organization.OrgCom }}</td>
        </tr>
        <tr>
            <td>Código de Organización</td>
            <td>{{ organization.OrgCod }}</td>
        </tr>
        <tr>
            <td>Código de Modificación de Plantillas</td>
            <td>{{ organization.OrgCodModPlan }}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr >
            <td colspan="2">{{ organization.OrgNom }}</td>
        </tr>
    </tfoot>
</table>
<div class="d-flex justify-content-between mb-4">
    <div>
        <a class="btn-registro" href="{% url 'organization_list'%}">Lista de Organizaciones</a>

        <a class="btn-registro" href="{% url 'organization_update' organization.OrgCod %}">Editar</a>    
    </div>
   
    <a class="btn-registro " href="{% url 'organization_delete' organization.OrgCod %}">Eliminar</a>

</div>


{% endblock %}
