{% extends "base.html" %}
{% load static %}

<!-- Titulo -->
{% block title %} Listado de Organizaciones {% endblock %}

<!-- Css -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/organizaciones.css' %}">
{% endblock css %}

<!-- Menu -->
{% block menu %}
<ul >
    <li><a>Menu Principal</a></li>
</ul>
{% endblock %}

<!-- Contenido -->

{% block contenido %}

    <h1 class="titulo">Menu Principal - Empresas</h1>
    <br>
    <p class="lista-seccion">Organización Principal</p>

    <table class="table my-4 text-center">
        <thead class="table-light">
            <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha de Creacion</th>
                <th scope="col">Fecha de Modificacion</th>
                <th scope="col">Estado</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for organization in organizations %}
                {% if forloop.first %}
            <tr>
                    
                <td>{{ organization.OrgCod }}</td>                        
                <td>{{ organization.OrgNom }}</td>
                <td>{{ organization.OrgFecCre }}</td>
                <td>{{ organization.OrgFecMod }}</td>
                <td>Terminado</td>
                <td>
                    <a href="{% url 'organization_detail' organization.OrgCod %}" data-bs-toggle="tooltip" title="Ver" ><img class="btn-i" src="{%static 'img/btn1.png'%}"></a>
                    <a href="{% url 'organization_update' organization.OrgCod %}" data-bs-toggle="tooltip" title="Editar" ><img class="btn-i" src="{%static 'img/btn2.png'%}"></a>         
                    <a href="{% url 'organization_delete' organization.OrgCod %}" data-bs-toggle="tooltip" title="Eliminar" ><img class="btn-i" src="{%static 'img/btn3.png'%}"></a>
                    <a href="{% url 'proyecto_list' org_cod=organization.OrgCod %}" data-bs-toggle="tooltip" title="Entrar" ><img class="btn-i" src="{%static 'img/btn4.png'%}"></a>
                </td>
            </tr>
                {% endif %}
            {% empty %}
            <tr>
                <td>No hay organizaciones disponibles.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p class="lista-seccion">Organizaciones</p>

    <div class="contenedor-buscador mt-4 mb-5">
    <a class="btn-registro" href="{% url 'organization_create' %}">Registrar Organización</a>
    <input class="buscar-organization" type="search" name="buscar-organization" id="" placeholder="Buscar"></input>   
    </div>

    <table class="table my-4 text-center table">
        <thead class="table-light">
            <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha de Creacion</th>
                <th scope="col">Fecha de Modificacion</th>
                <th scope="col">Estado</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for organization in organizations %}
                {% if not forloop.first %}
            <tr>
                    
                <td>{{ organization.OrgCod }}</td>                        
                <td>{{ organization.OrgNom }}</td>
                <td>{{ organization.OrgFecCre }}</td>
                <td>{{ organization.OrgFecMod }}</td>
                <td>Terminado</td>
                <td>
                    <a href="{% url 'organization_detail' organization.OrgCod %}" data-bs-toggle="tooltip" title="Ver" ><img class="btn-i" src="{%static 'img/btn1.png'%}"></a>
                    <a href="{% url 'organization_update' organization.OrgCod %}" data-bs-toggle="tooltip" title="Ver" ><img class="btn-i" src="{%static 'img/btn2.png'%}"></a>
                    <a href="{% url 'organization_delete' organization.OrgCod %}" data-bs-toggle="tooltip" title="Ver" ><img class="btn-i" src="{%static 'img/btn3.png'%}"></a>
                    <a href="{% url 'proyecto_list' org_cod=organization.OrgCod %}" data-bs-toggle="tooltip" title="Ver" ><img class="btn-i" src="{%static 'img/btn4.png'%}"></a>
                </td>
            </tr>
                {% endif %}
            {% empty %}
            <tr>
                <td>No hay organizaciones disponibles.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock contenido %}