{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    
    {% block css %}
    
    Aqui va el css 
    
    {% endblock css %}
   
</head>
<body class="bg-white w-100 vh-100 d-flex justify-content-center align-items-center">
    <header>
        <div class="w-30 px-3 h-100 d-flex justify-content-center align-items-center"> 
            <img class="me-3" style="width: 70px; height: 55px;" src="{% static 'img/logo.png' %}">
            <h3 class="fs-3">ReqWizardApp</h3>
        </div>
        {% block menu %} Lista {% endblock menu %}
    </header>
    <div>
    
        <aside>
            <span class="content-btn">
                <img class="btn-regresar" src="{% static 'img/btn6.png' %}" data-bs-toggle="tooltip" title="Regresar">
                <img class="btn-avanzar" src="{% static 'img/btn6.png' %}" data-bs-toggle="tooltip" title="Avanzar">
            </span>
                
            <h1>Menu Principal</h1>
            <div>
                <img src="{% static 'img/logo.png' %}" alt="">
            </div>
            <p>Nombre: pis_sgrs</p>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button id="close_sesion" type="sumit">Cerrar sesión</button>
            </form>
            
        </aside>

        <section class="contenedor-section scroll">
            {% block contenido %}
            {% endblock contenido %}
        </section>
    </div>
    
</body>
</html>

