{% extends "base.html" %}
{% load static %}

<!-- Titulo -->
{% block title %} Listado de Proyectos de {{organ.OrgNom}} {% endblock %}

<!-- Css -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/organizaciones.css' %}">
{% endblock css %}

<!-- Menu -->
{% block menu %}
<ul>
    <li><a href="{% url 'organization_list' %}">Menu Principal</a></li>
    <span> &nbsp;/&nbsp;</span>
    <li><a href="#">{{organ.OrgNom|default:"Variable no definida o vacía"}}</a></li>
</ul>
{% endblock %}

<!-- Contenido -->

{% block contenido %}
<img class="proyecto-logo" src="{% static 'img/logo.png' %}" alt="">
<h1 class="titulo mt-2">{{organ.OrgNom}}</h1>

<p class="lista-seccion">Lista de Proyectos</p>

<div class="contenedor-buscador mt-4 mb-5">
    <a class="btn-registro" href="{% url 'proyecto_create' org_cod=org_cod%}">Nuevo Proyecto</a>
    <input class="buscar-proyecto" type="search" name="buscar-proyecto" id="" placeholder="Buscar"></input>   
</div>

<table class="table my-4 text-center table">
    <thead class="table-light">
        <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha de Creacion</th>
            <th scope="col">Fecha de Modificacion</th>
            <th scope="col">Estado</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% for proyecto in proyectos %}
        <tr>
            <td>{{ proyecto.ProCod }}</td>
            <td>{{ proyecto.ProNom }}</td>
            <td>{{ proyecto.ProFecCre }}</td>
            <td>{{ proyecto.ProFecMod }}</td>
            <td>{{ proyecto.ProEst }}</td>
            <td>
                <a href="{% url 'proyecto_detail' org_cod=org_cod pk=proyecto.ProCod %}" data-bs-toggle="tooltip" title="Ver" ><img class="btn-i" src="{%static 'img/btn1.png'%}"></a>
                <a href="{% url 'proyecto_update' org_cod=org_cod pk=proyecto.ProCod %}" data-bs-toggle="tooltip" title="Editar" ><img class="btn-i" src="{%static 'img/btn2.png'%}"></a>
                <a href="{% url 'proyecto_delete' org_cod=org_cod pk=proyecto.ProCod %}" data-bs-toggle="tooltip" title="Eliminar" ><img class="btn-i" src="{%static 'img/btn3.png'%}"></a>
                <a href="{% url 'proyecto_menu' org_cod=org_cod pk=proyecto.ProCod %}" data-bs-toggle="tooltip" title="Entrar" ><img class="btn-i" src="{%static 'img/btn4.png'%}"></a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td>No hay proyectos disponibles.</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}


