{% extends "base.html" %}
{% load static %}

<!-- Titulo -->
{% block title %} Proyecto {{proyecto.ProNom}} de {{organ.OrgNom}} {% endblock %}

<!-- Css -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/proyecto_menu.css' %}">
{% endblock css %}

<!-- Menu -->
{% block menu %}
<ul>
    <li><a href="{% url 'organization_list' %}">Menu Principal</a></li>
    <span> &nbsp;/&nbsp;</span>
    <li><a href="{% url 'proyecto_list' org_cod=org.OrgCod %}">{{org.OrgNom}}</a></li>
    <span> &nbsp;/&nbsp;</span>
    <li><a href="#">{{proyecto.ProNom}}</a></li>
</ul>
{% endblock %}

<!-- Contenido -->
{% block contenido %}
<h1 class="titulo">{{org.OrgNom}}  - {{proyecto.ProNom}}</h1>
<br>
<p class="lista-seccion">Destacados</p>
<div class="items-seccion">
    <a href="{% url 'proyecto_acta' org_cod=org.OrgCod pk=proyecto.ProCod%}"><button>Acta de Aceptacion</button></a>
    <a href="{% url 'author_list'%}"><button>Autores</button></a>
    <a href="{% url 'entrevista_list' pro_cod=proyecto.ProCod %}"><button>Entrevistas</button></a>
    <a href="{% url 'role_list' %}"><button>Roles</button></a>
    <a href="{% url 'proyecto_menu_plantillas' org_cod=org.OrgCod pk=proyecto.ProCod %}"><button>Plantillas</button></a>
</div>
<p class="lista-seccion">Avance del Proyecto</p>
<p class="lista-seccion">Historial</p>
{% endblock %}

