{% extends "base.html" %}
{% load static %}

<!-- Titulo -->
{% block title %}
Confirmar la Eliminación del Proyecto {{ proyecto.ProNom }}
{% endblock %}

<!-- Css -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/organizaciones.css' %}">
{% endblock css %}

<!-- Menu -->
{% block menu %}
<ul>
    <li><a href="{% url 'organization_list' %}">Menu Principal</a></li>
    <span> &nbsp;/&nbsp;</span>
    
    <li><a href="{% url 'proyecto_list' organization.OrgCod %}">{{organization.OrgNom}}</a></li>
    <span> &nbsp;/&nbsp;</span>
   
    <li><a href="#">{{proyecto.ProNom}}-Eliminar</a></li>
    
</ul>

{% endblock%}

{% block contenido %}
<h1 class="titulo">Confirmar Eliminación</h1>
<p class="lista-seccion">¿Estás seguro que deseas eliminar el proyecto "{{ proyecto.ProNom }}"?</p>
<form method="post" class="d-flex justify-content-center">
    {% csrf_token %}
    <button class="btn-registro mt-4" type="submit">Eliminar</button>
</form>

<a class="btn-registro my-5" href="{% url 'proyecto_detail' org_cod=org_cod pk=proyecto.ProCod %}">Detalles</a>
<a class="btn-registro ms-auto" href="{% url 'proyecto_list' org_cod=org_cod %}">Cancelar</a>

{% endblock %}

