
{% extends "base.html" %}
{% load static %}

<!-- Titulo -->
{% block title %} Acta de {{proyecto.ProNom}} {% endblock %}

<!-- Css -->
{% block css %}

{% endblock css %}

<!-- Menu -->
{% block menu %}
<ul>
    <li><a href="{% url 'organization_list' %}">Menu Principal</a></li>
    <span> &nbsp;/&nbsp;</span>
    <li><a href="{% url 'proyecto_list' org.OrgCod %}">{{org.OrgNom}}</a></li>
    <span> &nbsp;/&nbsp;</span>
    <li><a href="{% url 'proyecto_menu' org.OrgCod proyecto.ProCod %}">{{proyecto.ProNom}}</a></li>
    <span> &nbsp;/&nbsp;</span>
    <li><a href="#">Acta</a></li>
</ul>
{% endblock %}

<!-- Contenido -->

{% block contenido %}
<h1 class="titulo">Subir Acta para el Proyecto: {{ proyecto }}</h1>

<form class="formulario panel" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    <div class="component-form" >
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        
        {{ field }}
    </div>

    {% endfor %}
    <div class="component-form" >
        <button class="btn-registro" type="submit">Subir</button>
    </div>
</form>

{% if form.instance.pk %}
<h2>Previsualización:</h2>
<p>Proyecto: {{ form.instance.ActAceCod }}</p>
<p>Archivo: <a href="{{ form.instance.ActAceArc.url }}" target="_blank">Ver Acta</a></p>

{% endif %}

<a class="btn-registro mt-3" href="{% url 'proyecto_menu' org.OrgCod proyecto.ProCod %}">Regresar</a>
{% endblock %}
