{% extends "base.html" %}
{% load static %}

<!-- Titulo -->
{% block title %} Detalles del Proyecto {{ proyecto.ProNom }}{% endblock %}

<!-- Css -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/organizaciones.css' %}">
{% endblock css %}

<!-- Menu -->
{% block menu %}

<ul>
    <li><a href="{% url 'organization_list' %}">Menu Principal</a></li>
    <span> &nbsp;/&nbsp;</span>
    <li><a href="{% url 'proyecto_list' org_cod=org.OrgCod %}">{{org.OrgNom}} </a></li>
    <span> &nbsp;/&nbsp;</span>
    <li><a href="#">{{proyecto.ProNom}}-Detalles</a></li>
</ul>
{% endblock %}

<!-- Contenido -->

{% block contenido %}
<h1 class="titulo">Detalles del Proyecto</h1>
<table class="card-detail mb-4">
    <thead>
        <tr >
            <th colspan="2">Resumen</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Código</td>
            <td>{{ proyecto.ProCod }}</td>
        </tr>
        <tr>
            <td>Versión</td>
            <td>{{ proyecto.ProVer }}</td>
        </tr>
        <tr>
            <td>Nombre</td>
            <td>{{ proyecto.ProNom }}</td>
        </tr>
        <tr>
            <td>Fecha de Creación</td>
            <td>{{ proyecto.ProFecCre }}</td>
        </tr>
        <tr>
            <td>Fecha de Modificación</td>
            <td>{{ proyecto.ProFecMod }}</td>
        </tr>
        <tr>
            <td>Estado</td>
            <td>{{ proyecto.ProEst }}</td>
        </tr>
        <tr>
            <td>Codigo de Autor</td>
            <td></td>
        </tr>
        <tr>
            <td>Comentario</td>
            <td>{{ proyecto.ProCom }}</td>
        </tr>
        <tr>
            <td>Código de Organización</td>
            <td>{{ proyecto.ProOrgCod }}</td>
        </tr>
        <tr>
            <td>Código de Modificación de Plantillas</td>
            <td>{{ proyecto.ProCodModPlan }}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr >
            <td colspan="2">{{ proyecto.ProNom }}</td>
        </tr>
    </tfoot>
</table>
<div class="d-flex justify-content-between mb-4">
    <div>
        <a class="btn-registro" href="{% url 'proyecto_list' org_cod=org.OrgCod %}">Listado de Proyectos</a>
        <a class="btn-registro" href="{% url 'proyecto_update' org.OrgCod proyecto.ProCod %}">Editar</a>
    </div>
    <a class="btn-registro" href="{% url 'proyecto_delete' org.OrgCod proyecto.ProCod %}">Eliminar</a>
</div>

{% endblock %}