{% extends "base.html" %}
{% load static %}

<!-- Titulo -->
{% block title %}{% if form.instance.EntrCod %}Editar Entrevista {% else %}Nueva Entrevista {% endif %}{% endblock %}

<!-- Css -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/proyectos.css' %}">
{% endblock css %}

<!-- Menu -->
{% block menu %}

<ul>
    <li><a href="{% url 'organization_list' %}">Menu Principal</a></li>
    <span> &nbsp;/&nbsp;</span>
    <li><a href="{% url 'proyecto_list' org_cod=org.OrgCod %}">{{org.OrgNom}} </a></li>
    <span> &nbsp;/&nbsp;</span>
    <li><a href="{% url 'proyecto_menu' org.OrgCod project.ProCod %}">{{project.ProNom}}</a></li>
    <span> &nbsp;/&nbsp;</span>
    <li><a href="{% url 'entrevista_list' project.ProCod %}">Entrevistas</a></li>
    <span> &nbsp;/&nbsp;</span>
    <li><a>{% if form.instance.EntrCod %}Editar{% else %}Nuevo{% endif %}</a></li>
</ul>

{% endblock %}

<!-- Contenido -->
{% block contenido %}
<h1 class="titulo">{% if form.instance.EntrCod %}Editar Entrevista {% else %}Nueva Entrevista {% endif %}</h1>
<form method="post" class="formulario">
    {% csrf_token %}
    {% for field in form %}

        {% if forloop.counter0 == 0 %}
            <div class="lista-seccion mb-3">Información Destacada</div>
        {% elif forloop.counter0 == 3 %}
            <div class="lista-seccion mb-3 mt-4">Información General</div>
        {% endif %}

        {% if forloop.counter0|divisibleby:3 or forloop.first %}
            {% if not forloop.last %}
                <div class="group-form">
            {% endif %}
        {% endif %}
        
        {% if not forloop.last %}
            <div class="component-form">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                
                {{ field }}
            </div>
        {% endif %}

        {% if forloop.counter|divisibleby:3 or forloop.last %}
            
            </div>

        {% endif %}

        {% if forloop.last %}
            <div class="lista-seccion mb-3 mt-4">Comentarios</div>
            <div class="group-form">
                <div class="component-form w-100">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    
                    {{ field }}
                </div>
            </div>
            
        {% endif %}
    {% endfor %}

    <div class="group-form">
        
            {% if form.instance.EntrCod %}
            
            <button class="btn-registro" type="submit">Actualizar</button>
            
            {% else %}
            <button class="btn-registro" type="submit">Crear</button>
            {% endif %}
        </button>
    </div>

</form>
<a class="btn-registro my-3" href="{% url 'entrevista_list' project.ProCod %}">Lista de Entrevistas</a>
{% if form.instance.ProCod %}
    <a class="btn-registro ms-auto" href="{% url 'entrevista_detail' project.ProCod entrevista.EntrCod %}">Detalles</a>
{% endif %}


{% endblock %}


