{% extends "base.html" %}
{% load static %}

<!-- Titulo -->
{% block title %}Detalles de la Entrevista {{ entrevista.EntrCod }}{% endblock %}

<!-- Css -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/proyectos.css' %}">
<link rel="stylesheet" href="{% static 'css/organizaciones.css' %}">
{% endblock css %}

<!-- Menu -->
{% block menu %}

<ul>
    <li><a href="{% url 'organization_list' %}">Menu Principal</a></li>
    <span> &nbsp;/&nbsp;</span>
    <li><a href="{% url 'proyecto_list' org_cod=org.OrgCod %}">{{org.OrgNom}} </a></li>
    <span> &nbsp;/&nbsp;</span>
    <li><a href="{% url 'proyecto_menu' org.OrgCod projecto.ProCod %}">{{projecto.ProNom}}</a></li>
    <span> &nbsp;/&nbsp;</span>
    <li><a href="{% url 'entrevista_list' projecto.ProCod %}">Entrevistas</a></li>
    <span> &nbsp;/&nbsp;</span>
    <li><a>Detalles</a></li>
</ul>

{% endblock %}

<!-- Contenido -->
{% block contenido %}
<h1 class="titulo">Detalles del Proyecto {{ entrevista.EntrNom }}</h1>

<table class="card-detail mb-4">
    <thead>
        <tr >
            <th colspan="2">Resumen</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Código</td>
            <td>{{ entrevista.EntrCod }}</td>
        </tr>
        <tr>
            <td>Versión</td>
            <td>{{ entrevista.EntrVer }}</td>
        </tr>
      
        <tr>
            <td>Fecha de Creación</td>
            <td>{{ entrevista.EntrFecCre }}</td>
        </tr>
        <tr>
            <td>Fecha de Modificación</td>
            <td>{{ entrevista.EntrFecMod }}</td>
        </tr>
        <tr>
            <td>Comentario</td>
            <td>{{ entrevista.EntrCom }}</td>
        </tr>
        <tr>
            <td>Código de Proyecto</td>
            <td>{{ entrevista.EntrProCod }}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr >
            <td colspan="2">{{ proyecto.ProNom }}</td>
        </tr>
    </tfoot>
</table>
<div class="d-flex justify-content-between mb-4">
    <div>
        <a class="btn-registro" href="{% url 'entrevista_list' projecto.ProCod %}">Lista de Proyectos</a>
        <a class="btn-registro" href="{% url 'entrevista_update' projecto.ProCod entrevista.EntrCod %}">Editar</a>
    </div>
    <a class="btn-registro" href="{% url 'entrevista_delete' projecto.ProCod entrevista.EntrCod %}">Eliminar</a>
</div>


{% endblock %}



