{% extends "base.html" %}
{% load static %}

<!-- Titulo -->
{% block title %} Listado de Entrevistas y Evidencias{% endblock %}

<!-- Css -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/proyectos.css' %}">
{% endblock css %}

<!-- Menu -->
{% block menu %}

<ul>
    <li><a href="{% url 'organization_list' %}">Menu Principal</a></li>
    <span> &nbsp;/&nbsp;</span>
    <li><a href="{% url 'proyecto_list' org_cod=org.OrgCod %}">{{org.OrgNom}} </a></li>
    <span> &nbsp;/&nbsp;</span>
    <li><a href="{% url 'proyecto_menu' org.OrgCod project.ProCod %}">{{project.ProNom}}</a></li>
    <span> &nbsp;/&nbsp;</span>
    <li><a href="">Entrevistas</a></li>
</ul>

{% endblock %}

<!-- Contenido -->
{% block contenido %}
<img class="proyecto-logo" src="{% static 'img/logo.png' %}" alt="">
<h1 class="titulo mt-2">{{project.ProNom}}</h1>
<br>
<p class="lista-seccion">Entrevistas</p>
<div class="contenedor-buscador mt-4 mb-5">
    <a class="btn-registro" href="{% url 'entrevista_create' pro_cod=pro_cod %}">Nueva Entrevista</a>
    <input class="buscar-entrevista" type="search" name="buscar-entrevista" id="" placeholder="Buscar"></input>   
</div>

<!-- <h2>Entrevistas</h2> -->
<table class="table my-4 text-center table">
    <thead class="table-light">
        <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Fecha de Creacion</th>
            <th scope="col">Fecha de Modificacion</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% for entrevista in entrevistas %}
        <tr>
            <td>{{ entrevista.EntrCod }}</td>
            <td>{{ entrevista.EntrFecCre }}</td>
            <td>{{ entrevista.EntrFecMod }}</td>
            <td>
                <a href="{% url 'entrevista_detail' pro_cod=pro_cod entr_cod=entrevista.EntrCod %}" data-bs-toggle="tooltip" title="Ver" ><img class="btn-i" src="{%static 'img/btn1.png'%}"></a>
                <a href="{% url 'entrevista_update' pro_cod=pro_cod entr_cod=entrevista.EntrCod %}" data-bs-toggle="tooltip" title="Editar" ><img class="btn-i" src="{%static 'img/btn2.png'%}"></a>
                <a href="{% url 'entrevista_delete' pro_cod=pro_cod entr_cod=entrevista.EntrCod %}" data-bs-toggle="tooltip" title="Eliminar" ><img class="btn-i" src="{%static 'img/btn3.png'%}"></a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No hay entrevistas disponibles.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- <h2>Evidencias</h2> -->
<p class="lista-seccion">Lista de Evidencias</p>
<div class="contenedor-buscador mt-4 mb-5">
    <a class="btn-registro" href="{% url 'create_evidence' pro_cod=pro_cod %}">Subir Evidencia</a>
    <input class="buscar-evidencia" type="search" name="buscar-evidencia" id="" placeholder="Buscar"></input>
</div>
<table class="table my-4 text-center table">
    <thead class="table-light">
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Nombre</th>
            <th scope="col">Entrevista</th>
            <th scope="col">Fecha</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% for evidencia in evidencias %}
        <tr>
            <td>{{ evidencia.EviCod }}</td>
            <td>{{ evidencia.EviNom }}</td>
            <td>{{ evidencia.EviEntCod.EntrCod }}</td>
            <td>{{ evidencia.EviFec }}</td>
            <td>
                <a href="{% url 'evidence_detail' pro_cod=pro_cod entr_cod=evidencia.EviEntCod.EntrCod pk=evidencia.pk %}" data-bs-toggle="tooltip" title="Mostrar Más" ><img class="btn-i" src="{%static 'img/btn4.png'%}"></a>
                <a href="{% url 'evidence_delete' pro_cod=pro_cod entr_cod=evidencia.EviEntCod.EntrCod pk=evidencia.pk %}" data-bs-toggle="tooltip" title="Eliminar" ><img class="btn-i" src="{%static 'img/btn3.png'%}"></a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No hay evidencias disponibles.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

        

    
            
        
</body>
</html>
