{% extends "base.html" %}
{% load static %}

<!-- Titulo -->
{% block title %}Eliminar Entrevista {{ entrevista.EntrCod }}{% endblock %}

<!-- Css -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/proyectos.css' %}">
<link rel="stylesheet" href="{% static 'css/organizaciones.css' %}">
{% endblock css %}

<!-- Menu -->
{% block menu %}

<ul>
    <li><a href="{% url 'organization_list' %}">Menu Principal</a></li>
    <span> &nbsp;/&nbsp;</span>
    <li><a href="{% url 'proyecto_list' org_cod=org.OrgCod %}">{{org.OrgNom}} </a></li>
    <span> &nbsp;/&nbsp;</span>
    <li><a href="{% url 'proyecto_menu' org.OrgCod projecto.ProCod %}">{{projecto.ProNom}}</a></li>
    <span> &nbsp;/&nbsp;</span>
    <li><a href="{% url 'entrevista_list' projecto.ProCod %}">Entrevistas</a></li>
    <span> &nbsp;/&nbsp;</span>
    <li><a>Eliminar</a></li>
</ul>

{% endblock %}

<!-- Contenido -->
{% block contenido %}
    <h1 class="titulo">Confirmar Eliminación</h1>
    <p class="lista-seccion">¿Estás seguro que deseas eliminar la Entrevista "{{ entrevista.EntrCod }}"?</p>
    <form method="post" class="d-flex justify-content-center">
        {% csrf_token %}
        <button class="btn-registro" type="submit">Eliminar</button>
    </form>
    <a class="btn-registro" href="{% url 'entrevista_list' projecto.ProCod %}">Lista de Proyectos</a>
    <a class="btn-registro my-5" href="{% url 'entrevista_detail' pro_cod=pro_cod entr_cod=entrevista.EntrCod %}">Cancelar</a>
{% endblock %}

