<h1>Detalle de Categoría de Evidencia</h1>
<p><strong>Código:</strong> {{ category.CatEviCod }}</p>
<p><strong>Nombre:</strong> {{ category.CatEviNom }}</p>
<a href="{% url 'category_evidence_list' %}">Volver a la lista de categorías</a>
