<h1>Lista de Categorías de Evidencia</h1>
<ul>
    {% for category in categories %}
        <li><a href="{% url 'category_evidence_detail' category.pk %}">{{ category.CatEviNom }}</a></li>
    {% endfor %}
</ul>
<a href="{% url 'create_category_evidence' %}">Crear Nueva Categoría de Evidencia</a>