<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Nueva Evidencia</title>
</head>
<body>
    <h1>Crear Evidencia</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %} 
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>
    <a href="{% url 'entrevista_list' pro_cod=pro_cod %}">Volver a la lista de evidencias</a>
</body>
</html>