<h1>Crear Categoría de Evidencia</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar</button>
</form>
<a href="{% url 'category_evidence_list' %}">Volver a la lista de categorías</a>