{% extends "base.html" %}
{% load static %}

<!-- Titulo -->
{% block title %}Detalle de Evidencias{{evidence.EviCod}}{% endblock %}

<!-- Css -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/proyectos.css' %}">
{% endblock css %}

<!-- Menu -->
{% block menu %}

<ul>
    <li><a href="{% url 'organization_list' %}">Menu Principal</a></li>
    <span> &nbsp;/&nbsp;</span>
    <li><a href="{% url 'proyecto_list' org_cod=org.OrgCod %}">{{org.OrgNom}} </a></li>
    <span> &nbsp;/&nbsp;</span>
    <li><a href="{% url 'proyecto_menu' org.OrgCod project.ProCod %}">{{project.ProNom}}</a></li>
    <span> &nbsp;/&nbsp;</span>
    <li><a href="{% url 'entrevista_list' project.ProCod %}">Evidencias</a></li>
    <span> &nbsp;/&nbsp;</span>
    <li><a>Detalles</a></li>
</ul>

{% endblock %}

<!-- Contenido -->
{% block contenido %}

<h2 class="titulo">Detalle de Evidencia</h2>
  
<table class="card-detail mb-4">
    <thead>
        <tr >
            <th colspan="2">Resumen</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Código</td>
            <td>{{ evidence.EviCod }}</td>
        </tr>
        <tr>
            <td>Nombre</td>
            <td>{{ evidence.EviNom }}</td>
        </tr>
        <tr>
            <td>Fecha de Creación</td>
            <td>{{ evidence.EviFec }}</td>
        </tr>
        <tr>
            <td>Archivo</td>
            <td><a href="{{ evidence.EviArc.url }}" class="btn-registro">Ver archivo</a></td>
        </tr>
        <tr>
            <td>Categoría</td>
            <td>{{ evidence.EviCatEviCod }}</td>
        </tr>
        <tr>
            <td>Artefacto</td>
            <td>{{ evidence.EviArtCod }}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr >
            <td colspan="2">{{ project.ProNom }}</td>
        </tr>
    </tfoot>
</table>
<div class="d-flex justify-content-between mb-4">
    <div>
        <a class="btn-registro" href="{% url 'entrevista_list' pro_cod %}">Volver a  Evidencias</a>
    </div>
    <a class="btn-registro" href="{% url 'evidence_delete' pro_cod entr_cod evidence.EviCod %}">Eliminar</a>
</div>



{% endblock %}

