{% extends "base.html" %}
{% load static %}

<!-- Titulo -->
{% block title %}Eliminar Evidencias{{evidence.EviCod}}{% endblock %}

<!-- Css -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/proyectos.css' %}">
{% endblock css %}

<!-- Menu -->
{% block menu %}

<ul>
    <li><a href="{% url 'organization_list' %}">Menu Principal</a></li>
    <span> &nbsp;/&nbsp;</span>
    <li><a href="{% url 'proyecto_list' org_cod=org.OrgCod %}">{{org.OrgNom}} </a></li>
    <span> &nbsp;/&nbsp;</span>
    <li><a href="{% url 'proyecto_menu' org.OrgCod project.ProCod %}">{{project.ProNom}}</a></li>
    <span> &nbsp;/&nbsp;</span>
    <li><a href="{% url 'entrevista_list' project.ProCod %}">Evidencias</a></li>
    <span> &nbsp;/&nbsp;</span>
    <li><a>Eliminar</a></li>
</ul>

{% endblock %}

<!-- Contenido -->
{% block contenido %}
<h1 class="titulo">Confirmar Eliminación</h1>


<p class="lista-seccion">¿Estás seguro de que deseas eliminar la evidencia "{{ evidence.EviNom }}"?</p>

    <form method="post" class="d-flex justify-content-center">
        {% csrf_token %}
        <button type="submit" class="btn-registro">Eliminar</button>
    </form>
    <a href="{% url 'entrevista_list' pro_cod=pro_cod %}" class="btn-registro">Cancelar</a>

{% endblock %}
