{% extends "base.html" %}
{% load static %}

<!-- Titulo -->
{% block title %}Evidencias{{evidence.EviCod}}{% endblock %}

<!-- Css -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/proyectos.css' %}">
{% endblock css %}

<!-- Menu -->
{% block menu %}

<ul>
    <li><a href="{% url 'organization_list' %}">Menu Principal</a></li>
    <span> &nbsp;/&nbsp;</span>
    <li><a href="{% url 'proyecto_list' org_cod=org.OrgCod %}">{{org.OrgNom}} </a></li>
    <span> &nbsp;/&nbsp;</span>
    <li><a href="{% url 'proyecto_menu' org.OrgCod project.ProCod %}">{{project.ProNom}}</a></li>
    <span> &nbsp;/&nbsp;</span>
    <li><a href="{% url 'entrevista_list' project.ProCod %}">Entrevistas</a></li>
    <span> &nbsp;/&nbsp;</span>
    <li><a>{% if form.instance.EntrCod %}Editar{% else %}Nuevo{% endif %}</a></li>
</ul>

{% endblock %}

<!-- Contenido -->
{% block contenido %}
<h1>Lista de Evidencias</h1>
    <a href="{% url 'create_evidence' pro_cod=pro_cod entr_cod=entr_cod %}"
      >Crear Nueva Evidencia</a
    >
    <ul>
      {% for evidence in evidences %}
      <li>
        <a
          href="{% url 'evidence_detail' pro_cod=pro_cod entr_cod=entr_cod pk=evidence.pk %}"
        >
          {{ evidence.EviNom }} - {{ evidence.EviFec }}
        </a>
      </li>
      {% endfor %}
    </ul>

{% endblock %}
